[2017-03-22 15:14] shdblowers opened #1 "Allow custom ports for connections to SQL server DBs"
## Expected Behavior

That I can set any port for the connection in my config, like so:

[code]

## Current Behavior

Port config is ignored.

## Possible Solution

Implement code change to allow it to happen, most likely will need changes to `Mssqlex` as well.

## Context

Trying to use custom ports.

## Your Environment

* MssqlEcto version: 0.1
* Ecto version: 2.1
* Elixir version: 1.4
* Erlang

[2017-03-23 11:06] toddharding opened #2 "Text type restricted to maximum length of 4000"
## Expected Behavior

Text types defined in a migration should be able to store strings of a length greater than 4000.

## Current Behavior

When data of greater than length 4000 is inserted the statement is terminated.

## Possible Solution

Perhaps a look at the erlang ODBC driver?
## Steps to Reproduce (for bugs)

[code]

## Your Environment

* MssqlEcto version: 0.1
* Ecto version: 2.1
* Elixi

[2017-03-23 11:52] toddharding opened #3 "Limit statements do not work in SQL Server 2008"
## Expected Behavior

To be able to limit the number of returned values in a query
## Current Behavior

The query will fail and throw a syntax error
## Possible Solution

If we can detect the SQL Server version we can substitute in TOP statements instead of using FETCH OFFSET
## Steps to Reproduce (for bugs)

Use limit in an ecto query e.g.
[code]

## Your Environment

* MssqlEcto version: 0.1
* E

[2017-04-07 11:49] jbachhardie commented on #2
This is definitely a limitation of / bug in the erlang ODBC driver. We tried to support unsized character fields but the erlang ODBC driver mangles the return from them, so we were forced to restrict size to the maximum sized type, wvarchar(4000).

[2017-04-10 14:10] #3 closed, assigned to nobody

[2017-04-18 20:28] RaoKrishna opened #6 "Support for named instances in MS SQL"
This might be not an issue but I need help with connecting to SQL server. I am trying to create a Phoenix application with Ecto and MS SQL database. I want to connect to a custom named instance in SQL server. Using TDS driver, we can mention it in config by using the variable "instance". Is there an equivalent in this driver. Please let me know. This is the config I am using:

config :sqlapp, Sqla

[2017-04-19 06:11] javimolla commented on #6
I think that you have to specify the instance alongside the hostname, like in [this example](https://www.connectionstrings.com/sqlconnection/connection-to-a-sql-server-instance/)

So, for example, if you want to connect to an instance called SQLCustom in localhost, you have to write:
`hostname: "localhost\SQLCustom"`

[2017-04-19 13:33] RaoKrishna commented on #6
Thanks for the suggestion. I tried doing that but I still cannot connect. I get the following error:

_Compiling 12 files (.ex)
Generated sqlapp app
[info] Running Sqlapp.Endpoint with Cowboy using http://localhost:4000
[error] Mssqlex.Protocol (#PID<0.540.0>) failed to connect: ** (Mssqlex.Error) [
Microsoft][ODBC Driver Manager] Data source name not found and no default driver
 specified Connect

[2017-04-19 16:09] jbachhardie commented on #6
I haven't had the opportunity to test this on Windows, but I think the driver name is different.

Try setting `odbc_driver: "{SQL Server Native Client 11.0}"` in config, that's the driver that comes with SQL Server 2014 in Windows I believe.

I'll try to install everything on Windows to replicate this tomorrow.

[2017-04-19 18:12] RaoKrishna commented on #6
Adding this new line in the config file worked! Thanks for your help.

[2017-04-20 08:26] jbachhardie commented on #1
You can still do ports right now by specifying `hostname: "localhost,4000"` for example, although I'm all for a PR that makes that more elegant.

[2017-04-24 09:56] P4l opened #8 "Expected MssqlEcto to implement Ecto.Adapter.Storage in order to to create storage"
In a Phoenix-project when I run `mix test` I get the following error:

` (Mix) Expected MssqlEcto to implement Ecto.Adapter.Storage in order to to create storage for MyApp.Repo`

The app works in development environment where I can connect to the MS SQL server.

Am I missing something in my configuration (see below) or is this an error?

Thank you for your help!

## Expected Behavior

`mix test` s

[2017-04-24 10:17] jbachhardie commented on #8
This is indeed a bug, an oversight on our part since we don't use the storage functionality in production. I'll push a patch shortly.

Thank you for the report.

[2017-04-24 11:03] jbachhardie commented on #8
`storage_up` is callable in `0.1.3` but there still seems to be an issue where the correct error isn't returned when the database is already up. Looking into it.

[2017-04-24 11:07] jbachhardie commented on #8
Yeah, apparently SQL Server (or at least some versions) unhelpfully returns ODBC code 42000 rather than 42S01 when the table already exists. I'll need to patch `Mssqlex` for that one.

[2017-04-24 12:31] #8 closed, assigned to jbachhardie

[2017-04-24 12:42] jbachhardie commented on #8
OK, tested as working with mssql_ecto 0.1.4 and mssqlex 0.6.5.

Thank you for bringing this to our attention.

[2017-05-22 11:22] mfeckie opened #12 "Possible issue with query()"
When trying to execute a parameterised query using `Ecto.Adapters.SQL.query`, I receive an error message that the number of parameters is incorrect (1 for 0), irrespective of how many are present in the string.

This block seems to be the cause

https://github.com/findmypast-oss/mssql_ecto/blob/master/lib/mssql_ecto/connection.ex#L73-L93

I'm not entirely sure I understand what the Regex is attemp

[2017-05-23 13:50] jbachhardie commented on #12
How are you writing the query? The likely issue is that you're writing `INSERT INTO foo (var1, var2) VALUES (?, ?)` which is the ODBC standard but MssqlEcto, for reasons of compatibility with Ecto's DSL, expects parameters to have an ordering, i.e. `INSERT INTO foo (var1, var2) VALUES (?1, ?2)`.

Does doing it the second way solve your issue?

I'd actually like for `Ecto.Adapters.SQL.query` to acc

[2017-05-23 14:04] mfeckie commented on #12
Yep, that works.  Thanks.

[2017-05-23 14:04] #12 closed, assigned to nobody

[2017-06-02 16:49] Olshansk opened #14 "(Mssqlex.Error) odbc_not_started"
I'm getting the following error when I start up my application: `Mssqlex.Protocol (#PID<0.19212.0>) failed to connect: ** (Mssqlex.Error) odbc_not_started`.

I followed the instructions https://github.com/findmypast-oss/mssqlex to install erlang-odbc and Microsoft’s ODBC Driver for SQL Server.

I’m working from within a Docker containing running Debian 8.

Ecto version 2.1
Elixir version 1.3.4

I

[2017-06-04 20:17] shdblowers commented on #14
@Olshansk shall we close this issue?

You said on slack you got it working once you upgraded to Elixir 1.4

[2017-06-04 21:32] #14 closed, assigned to nobody

[2017-06-04 21:32] Olshansk commented on #14
@shdblowers Yup, that was the issue. The lesson learnt is to always read the README :)

[2017-06-05 18:22] Olshansk commented on #14
@shdblowers The README actually contains this piece of text

Unless it's been tested with version < 1.4, I think it's worth removing so as not to mislead people. I personally could not get it working with elixir 1.3.X, but it's possible that I had other conflicts which was causing problems.

[2017-06-06 17:24] shdblowers commented on #14
I agree with what you've said @Olshansk.

Will make the change.

[2017-06-06 17:27] shdblowers commented on #14
Done in this commit: https://github.com/findmypast-oss/mssql_ecto/commit/a2f613c4d15d082de3054822e5fb3be287169959

[2017-06-06 17:37] shdblowers commented on #14
I have also called out in the mix file we don't support below Elixir 1.4.0 https://github.com/findmypast-oss/mssql_ecto/commit/e59c07c4ed3890dd75adbc09929d3e510d91ff45

[2017-06-07 04:02] Olshansk commented on #14
Thanks for updating it :)

[2017-06-14 07:16] katbow commented on #14
I have Elixir 1.4.0 and am still getting this error.

[code]

I tried adding it in to applications as specified previously in the README to be sure, then had a different error.

[code]

[2017-06-14 08:40] shdblowers commented on #14
@katbow can you open up a new issue and fill in as much information as you can on that?

The reason why is these two issues could be completely unrelated and I need more information to investigate further.

[2017-06-14 10:18] katbow opened #15 "Mssqlex.Error odbc_not_started"
### Bug details
When I start my phoenix server locally, I get an error that odbc is not started:

[code]

I tried adding `:mssql_ecto` to applications as specified previously in the README, but had a different error instead:

[code]

I have MSSQL running in Azure which I am trying to connect to. I have been able to connect & query using Node.

### Steps to Reproduce
I followed the instructions in

[2017-06-14 10:18] katbow commented on #14
Thanks @shdblowers. New issue here -> #15

[2017-06-14 11:02] toddharding commented on #15
The default version of Erlang on MacOS does not include Erlang ODBC, could you try to install Erlang via [Kerl](https://github.com/kerl/kerl) and follow kerls instructions to enable Erlang ODBC.

If you are still unable to get ODBC to work on MacOS then a fallback solution could be to run your project in a docker container, this is how I develop elixir projects that connect to SQL Server on MacOS.

[2017-06-14 11:09] shdblowers commented on #15
@katbow we would like to support mssql_ecto on MacOS in a more official sense and are willing to provide further assistance in order to achieve that.

Hopefully, the resolution of this ticket will include updating our README.md to include instructions specific to MacOS, if the current instructions are relevant. Any help on that from you or @toddharding would be great, as I don't own a MacBook  😓

[2017-06-14 11:25] katbow commented on #15
@toddharding Yes, I was having that issue initially where Erlang ODBC was not included in the version of Erlang I had installed. I managed to get it installed with ODBC. I double checked it was included by running `odbc:module_info().` in the Erlang console.

@shdblowers thanks, I'll keep at it for a bit & let you know if I find a solution 👍 .

[2017-06-14 11:43] shdblowers commented on #15
@katbow it could be that the version of the ODBC driver you've installed doesn't match up with what mssqlex expects. [See this](https://github.com/findmypast-oss/mssqlex/blob/master/lib/mssqlex.ex#L18).

Looking at finding a solution...

[2017-06-14 11:54] shdblowers commented on #15
@katbow try adding the last line to your config:

[code]

I'm not sure if that will be the correct name of the ODBC driver you have installed on you MacOS. Not sure how to check at this point.

[2017-06-15 20:06] RobStallion commented on #15
@toddharding. I have also tried all of the suggestions to this point but have still been experiencing the same issue. I have also added a Vagrantfile to test things in an linux environment but have still had the same issue.

I have also tried querying the DB with node running in the linux environment and that worked as expected. That code is in the repo that can be found here: https://github.com/R

[2017-06-18 04:52] ssomnoremac commented on #15
I've just been through all the steps the healthlocker people have been through. Same exact path. Installed erlang on iOS with kerl, verified odbc is working, installed microsoft driver. Same dead end. If this is a problem in linux too that's not good.

[2017-06-18 13:59] ssomnoremac commented on #15
actually @RobStallion @katbow , I just got it to work. Had your same error but after adding deps to applications
[code]

and REMOVING
[code]
it worked!

[2017-06-19 12:43] shdblowers commented on #15
Thanks for doing some debugging @ssomnoremac

My current thoughts are that the `:mssqlex` app is not getting started when only adding `:mssql_ecto` to the list of dependencies.

I will try and investigate this further...

[2017-06-19 13:30] shdblowers commented on #15
I can't replicate this bug on my Linux/Ubuntu environment, but my theory is that adding both `mssql_ecto` and `mssqlex` to the list of deps will fix the bug.

i.e. (with Elixir 1.4)

applications will look like:
[code]
and deps:
[code]

Could someone with a Mac please confirm?

[2017-06-19 13:46] RobStallion commented on #15
@shdblowers I had both `mssql_ecto` and `mssqlex` in the list of deps as you have said above but I could not get it to work like that on mac or ubuntu.

Following what @ssomnoremac mentioned is the only way I have ben able to get things working (massive thanks btw to everyone for continuing to look into this and get back to us). Otherwise, I was repeatedly getting the same error mentioned by @katb

[2017-06-19 13:47] RobStallion commented on #15
@shdblowers Also I have this working on mac (to answer your original question 😄)

[2017-06-19 18:16] shdblowers commented on #15
I'm glad you've managed to get this working @RobStallion @katbow.

Thanks for your help @ssomnoremac.

I think this issue can be closed once the readme has been updated to reflect how you managed to get things to work.

I had a look over your `mix.exs` file on Health Locker [here](https://github.com/healthlocker/healthlocker/blob/116fc410f2975450a126fc8a3a856d28e1809ee4/mix.exs)

I think the probl

[2017-06-20 10:02] katbow commented on #15
@ssomnoremac thanks very much!

@shdblowers Oh I see, thanks for that. That's useful to know as it cleans up the config a lot. @RobStallion and I can update the README with instructions for macOS (probably on the weekend, though).

Really appreciate the help everyone!

[2017-06-20 13:56] ssomnoremac commented on #15
@katbow let me know how it goes. For some reason I'm having issues with my associations. I'm not sure if it's an issue with this library or not, or if it's because my table names are capitalized, or if it's an issue with Absinthe-ecto, or my setup, or what. I'm using an existing Azure db so there's a bit to tackle.

[2017-06-20 17:38] ssomnoremac commented on #15
actually solved the association issue, had to be careful with plural fields for that.

[2017-06-24 08:31] #15 closed, assigned to toddharding, shdblowers

[2017-07-05 17:42] brentweber opened #16 "support for xml column type"
I was wondering if you have plans to support xml column type, even if it just returns it as a string. I get the following error when attempting to use this column in my schema as the :string type
** (Mssqlex.Error) Column type not supported | ODBC_CODE  | SQL_SERVER_CODE 0

[2017-07-05 18:05] shdblowers commented on #16
Hi @brentweber I will look into whether supporting this requires a change to msql_ecto or a change to Erlang ODBC

[2017-07-06 07:12] shdblowers commented on #1
Fixed by #17

[2017-07-06 07:12] #1 closed, assigned to nobody

[2017-07-06 19:36] shdblowers commented on #16
Hi @brentweber have investigated supporting XML type and will require a change to Erlang ODBC rather than mssql_ecto or mssqlex.

@toddharding is currently looking at making a change to Erlang ODBC to support datetimeoffset, I wonder if it would be possible to support xml via a similar change?

[2017-07-06 19:38] shdblowers commented on #16
Leaving this here for future reference.

Testing XML type.

[code]

[2017-07-07 11:59] brentweber commented on #16
@shdblowers thanks for looking into this, and if @toddharding would be able to support XML type via a similar ODBC change that would be great but after further testing I'm not sure I will be able to use this adapter due to string type limitations. But Im sure someone will have the XML issue in the future.

[2017-07-13 01:22] ssomnoremac opened #18 "Variable insertion misaligned with using WHERE IN"
I have a query like so which I'm passing an array of ids and a string

    Repo.all(
            from p in Punchcard,
              join: sm in assoc(p, :sm),
              join: application in assoc(p, :application),
              join: profile in assoc(application, :profile),
              where: sm.state_id in ^state_ids,
              where: profile.country_code == ^country_code,

[2017-07-13 14:23] shdblowers commented on #18
Hi @ssomnoremac this is definitely a bug.

Will write some unit tests in `mssqlex` to reproduce it and see where I can go from there.

[2017-07-13 15:18] shdblowers commented on #18
Hi @ssomnoremac I tried to replicate your issue with a test in `mssqlex` and it passed.

Can you take a look at the PR and confirm if the PR adequately tests your scenario:

https://github.com/findmypast-oss/mssqlex/pull/9

[2017-07-13 15:56] ssomnoremac commented on #18
Thanks @shdblowers , those tests look good except for not having the joins. Don't know how that could change the behavior. I can try to apply the same `WHERE IN` to various other queries and let you know if I see the same error.

[2017-07-18 22:33] RaoKrishna commented on #6
The following configuration for named instances worked for the previous version (mssql_Ecto : 0.1.2, mssqlex : 0.6.4)

config :sqlapp, Sqlapp.Repo,
  adapter: MssqlEcto,
  username: "user",
  password: "password",
  database: "devdb",
  hostname: "servername\\\instancename",
  port: "1433",
odbc_driver: "{SQL Server Native Client 11.0}"}

However, I am unable to connect to the database after updat

[2017-07-19 10:06] shdblowers commented on #6
Hi @RaoKrishna , I'll take a look into this issue and the changes I did here: https://github.com/findmypast-oss/mssqlex/commit/81f0bbabe4a5fc6281d76234650c1e15bbcefaaf

[2017-07-19 21:18] shdblowers opened #19 "Run tests using latest version of Elixir"
We are running tests from this docker image: raniemi/elixir:1.4.0_19.2_ubuntu_xenial, raniemi is not keeping up with latest versions of Elixir, so will have to do some Docker magic to run the tests with latest version of Elixir on Ubuntu Xenial

[2017-07-20 11:44] akeemboatswain commented on #18
you get the same issue if you do something like this ,  the variables in the generated sql also get missaligned:

`
test_values = [2,4,5,6]

more_test_values = [7,8,9,10]

Repo.all(

        from a in ItemA,

          join: b in ItemB,

          on: a.id == b.id,

          where: a.test in ^test_values and a.other_vals in ^more_test_values,

          select: a

        )`

[2017-07-21 11:25] shdblowers commented on #6
Hi @RaoKrishna, I've just done a release of mssqlex and mssql_ecto which should fix this bug.

From this release you can now set the `:instance_name` option to set the named instance you want to use, as seen in the [README](https://github.com/findmypast-oss/mssql_ecto#configuration).

Please let me know if this fixes your issue.

[2017-07-21 21:43] RaoKrishna commented on #6
Hi @shdblowers,

Thanks for the new release. It solved this issue with named instances.

However, there is a minor issue. I had to remove the port from the config to connect to the database. It was not a problem for me as I was connecting to the default port. I am not sure if it would throw an error while connecting to custom port.

Since the new release solves the problem of named instances, I am

[2017-07-21 21:43] #6 closed, assigned to shdblowers

[2017-07-28 16:07] timbuchwaldt opened #20 "Support for uniqueidentifier / UUIDs"
I would love to see support for the native MS-SQL `uniqueidentifier` datatype.

## Expected Behavior
Mapping `:binary_id` to `uniqueidentifier`

## Current Behavior
Currently data returned with a `uniqueidentifier` datatype raises an error:
[code]
## Possible Solution
Something like
https://github.com/elixir-ecto/postgrex/blob/b1c0d7e4fd517b56fbd3bcdb7f2ee21e107c2665/lib/postgrex/extensions/uuid.e

[2017-07-31 08:38] jbachhardie commented on #20
Unfortunately supporting additional column types is quite challenging since it would require changes to the driver being used, either in the form of updates to Erlang's ODBC driver or the development of a new driver for Elixir/Erlang.

I heard @toddharding might be working on patching Erlang ODBC in this way but there's no ETA since it's work beyond what we can justify doing on paid company time.

[2017-08-01 19:33] alexandercarls commented on #2
This should be the relevant issue for erlang-odbc.
https://bugs.erlang.org/browse/ERL-132

Is there a workaround for retrieving an nvarchar(max) RTF string or other technical solution? This is currently a showstopper for me. Thanks!

[2017-08-02 08:38] jbachhardie commented on #2
If the data is reliably under 4000 bytes a `CAST(column AS nvarchar(4000))` on the select should work. If it's not I'm afraid you're out of luck until that issue in Erlang is resolved. I don't think the driver has any way of extracting large data that's working since the bug affects all variable length fields ☹️

We don't have any immediate plans to patch Erlang but if you'd like to give it a try

[2017-08-02 15:55] alexandercarls commented on #2
Thank you for the quick reply. Unfortunately that doesn't work for me. Those RTF strings are huge!

[2017-08-05 06:35] puruzio opened #21 "Installing Erlang ODBC on Windows 2012 R2"
I'm having trouble installing Erlang ODBC on Windows, and I suspect many Windows users struggle with the same issue.

There is very little documentation on the internet about how to install this Erlang library.
 I found this (http://erlang.org/documentation/doc-5.1/lib/odbc-0.9.1/doc/html/OdbcCompileWindows.html) and tried to follow it.

I was able to find the erl8.2\lib\odbc-2.12\src folder on my

[2017-08-05 11:10] shdblowers commented on #21
If I recall correctly we did manage to get mssql_ecto working correctly on Windows when we were doing some testing during the creation of this library, however this would have been on Window 8 or 10.

So, I don't know how to install it correctly for 2012.

My advice would be to either run your Elixir service inside a docker container (take a look at our [Dockerfile](https://github.com/findmypast-o

[2017-08-05 18:52] puruzio commented on #21
Can you share how you did it on Windows 8 or 10? I doubt it will be too different for 2012.  Did you have Makefile in the Erlang ODBC source folder?

Unfortunately using Docker isn't possible in my case.

[2017-08-06 14:51] jbachhardie commented on #21
You most likely already have `erlang-odbc` installed. Most OTP binaries for Windows include it in their bundle. To check, run
[code]
If you don't have it you should try uninstalling Elixir and Erlang and re-installing Elixir from the official installer or Chocolatey package manager since they definitely serve bundles that have the ODBC application in them.

This is why the README states it "might"

[2017-08-06 18:45] #19 closed, assigned to nobody

[2017-08-06 23:23] puruzio commented on #21
Thank you.

:odbc.start does return :ok on my machine, which is great.

How do I start :odbc in my Elixir/Phoenix app ?  I tried to put it in mix.exs under applications list, but then I get
[code]

I already have the following in `dev.exs` based on the instruction in ReadMe, but Mssqlex might not be seeing it.

[code]
and the following in config.exs

[code]

[2017-08-07 11:43] shdblowers commented on #21
There is a config option called `:odbc_driver`, this defaults to: `{ODBC Driver 13 for SQL Server}`. Which works if you follow the instructions with installation on Linux, but probably not for Windows.

This will have to change to the Windows ODBC driver you are using.

[2017-08-07 11:46] shdblowers commented on #21
Here is a link to help you find the ODBC driver you have installed: https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/check-the-odbc-sql-server-driver-version-windows

[2017-08-09 04:47] puruzio commented on #21
Thank you so much for your help!!! Installing SQL Server driver 13 did the trick.

[2017-08-09 04:47] #21 closed, assigned to nobody

[2017-08-09 10:14] shdblowers commented on #21
No problem @puruzio

Was there anything missing from the README that would have solved your problem without having to open an issue?

[2017-08-09 14:33] puruzio commented on #21
I had to add :odbc to the application list in mix.exs to avoid
"odbc_not_started" error at mix phx.server.
Also it would help to tell people it's SQL Server ODBC 13 that they need to
install. In my case, I already had "SQL Server 6.3" in the list of ODBC
drivers and I originally thought that would meet the prerequisite of a SQL
server ODBC driver, which it didn't.

On Wed, Aug 9, 2017 at 3:14 AM,

[2017-08-17 15:34] sardaukar opened #24 "Encoding issues with nvarchar(max) columns?"
## Expected Behavior

I'm using SQL Server 2016 Express, set to `SQL_Latin1_General_CP1_CI_AS` collation. When I save data on columns set to `nvarchar(max)` on SQL Server's side, they're properly saved, but when I read them back, I get this:

![screen shot 2017-08-17 at 16 29 35](https://user-images.githubusercontent.com/153407/29420228-4b0fe0b2-8369-11e7-984c-2784078ac2ab.png)

Columns in questio

[2017-08-18 18:33] jbachhardie commented on #24
Yeah a bug in the Erlang ODBC driver mangles variable length column output, see https://github.com/findmypast-oss/mssql_ecto/issues/2

Keeping this open since it describes a different and perhpas more common way to encounter this bug but please discuss in the other issue. Basically until someone patches OTP you need to cast the column as `nvarchar(4000)` on SELECT and are limited to 4000 bytes.

[2017-08-20 11:10] shdblowers opened #25 "Support Ecto 2.2"
There are changes coming in Ecto 2.2 which will require changes to our adapter.

See https://github.com/elixir-ecto/ecto/pull/2155 for details.

[2017-09-02 08:08] shdblowers commented on #25
started work here: https://github.com/findmypast-oss/mssql_ecto/tree/ecto_2_2

[2017-09-07 17:07] damonvjanis opened #26 "App created with phx.new test --database mssql won't compile"
I've created a new Phoenix 1.3 app with phx.new test --database mssql (which configures the app by default to use mssql_ecto and mssqlex), which I would expect to work out of the box or get me close to a working Phoenix app connected to mssql.

Right after creating the app, if I try to run mix phx.server, it attempts to compile the dependencies and it fails to compile with the following error:

[c

[2017-09-08 12:10] shdblowers commented on #26
Hi @damonvjanis

Even with using mssql_ecto with the Phoenix command you also have to follow the installation instructions in the [Readme](https://github.com/findmypast-oss/mssql_ecto#installation). Specifically to do with installing Erlang ODBC and Microsoft's ODBC Driver.

[2017-09-08 12:11] shdblowers commented on #26
After doing this please let me know if you still cannot get it working.

[2017-09-08 17:07] damonvjanis commented on #26
@shdblowers thanks for taking a look at this.

I apologize, I should have included those details in the original request.

Before running mix phx.new, I had verified that Erlang ODBC was accessible on my system by opening an Erlang shell and entering `1>odbc.start()` which returned a response of `ok`.

I had also previously verified that my environment had the Microsoft ODBC driver by attempting t

[2017-09-09 07:34] jbachhardie commented on #26
I think this is related to https://github.com/findmypast-oss/mssql_ecto/issues/25, right @shdblowers ?

We're not quite there yet with Ecto 2.2 compatibility and I believe the template scaffolds up that version. You should be able to downgrade to Ecto 2.1.x and have everything work.

[2017-09-09 14:26] shdblowers commented on #26
Yes I think so too @jbachhardie.

Will release a patch for this version that changes the dependency on ecto from `2.1` to `2.1.0`, which should make this issue more clear.

Will also continue on upgrading to 2.2 when I can

[2017-09-09 15:16] shdblowers commented on #26
That's been done now, here: https://github.com/findmypast-oss/mssql_ecto/commit/ae2d5671e84787e3be8a9248f5c83211d819c0cc

[2017-09-14 15:08] #26 closed, assigned to nobody

[2017-09-20 18:05] LoganBresnahan opened #27 "DML statement cannot have any enabled triggers if the statement contains an OUTPUT clause without INTO clause."
### Problem:
When a database table has a trigger attached to it, `insert/1` will fail because the adapter is not utilizing an `INTO` clause.

This blog post from the SQL Server team explains the issue well: https://blogs.msdn.microsoft.com/sqlprogrammability/2008/07/11/update-with-output-clause-triggers-and-sqlmoreresults/

### Error Example:
[code]
result:
[code]

### DB Trigger Example:
[code]

[2018-01-08 15:41] cdesch opened #28 "Compilation error in file lib/mssql_ecto/query_string.ex =="
Received this while setting up a "hello_world" app for the `mssql_ecto` and the MS SQL Server database to test connectivity and experiment/verify the initial configurations.

the "hello_world" project can be found [here](https://github.com/kickinespresso/ms_sql_test)

[code]

## Expected Behavior
For the project to compile with dependencies and run

## Current Behavior

errors out on `iex -S mix`

[2018-01-08 17:29] cdesch commented on #28
Made Pull reqeust

[2018-01-08 17:29] #28 closed, assigned to nobody

[2018-01-08 19:22] cdesch opened #30 "How to handle capital letters in database column"
I have a database table with camel case column names.

     DemoCategoryKey
     Name
     CategoryNo
     Description

How do I handle the capital letters?

Here is what I used for a schema:
[code]

## Expected Behavior

Query the record

## Current Behavior

[code]

## Your Environment

* MssqlEcto version: 0.3.1
* Ecto version: 2.1
* Elixir version: 1.5
* Erlang version:
* Microsoft SQL Server

[2018-01-08 19:39] cdesch commented on #30
lol. Simply fixed by using camel case.

[code]

[2018-01-08 19:39] #30 closed, assigned to nobody

[2018-01-08 19:41] cdesch opened #31 "UUID ** (ArgumentError) invalid or unknown type :uuid for field :DemoCategoryKey"
[code]

Error from code section:

[code]

## Your Environment

* MssqlEcto version:
* Ecto version:
* Elixir version:
* Erlang version:
* Microsoft SQL Server version:
* Operating System and version:
* Link to your project:

[2018-01-08 20:00] cdesch commented on #20
The `uniqueidentifer` is a bit of a show stopper. @toddharding did the Erlang ODBC ever get this update? I don't see anything [2.12.1 release notes](http://erlang.org/doc/apps/odbc/notes.html#id61769). I'm not sure how I would go about patching this in the ODBC either.

reference issue #31

[2018-01-09 09:54] shdblowers commented on #31
This is a duplicate of #20 , no?

[2018-01-09 15:28] cdesch commented on #31
I think so. Closing. I saw #20  after submitting the issue. Thanks.

[2018-01-09 15:28] #31 closed, assigned to nobody

[2018-01-09 15:47] shdblowers commented on #20
I had a go at doing a similar issue to this myself a few months ago, around adding a `datetimeoffset` column https://github.com/findmypast-oss/mssqlex/issues/7.

That code base was just far too complex for me to understand, reason about and then modify it correctly. It was also very difficult to get it set-up correctly on my machine.

I ended up losing motivating and abandoning it.

Anyone who has

[2018-01-09 16:05] cdesch commented on #20
Not having some of these native data types fields supported really hurts any elixir/erlang + MS SQL Server development or applications. I would hope that some of the folks from Microsoft would help out a little for their product. Since I can't get it to work with MS SQL Server, I'll migrate the data to PostgreSQL and work with it from there. As a Long shot, maybe some of the folks at [MSSQL-docker

[2018-01-15 16:36] ruben44bac opened #32 "Column type not supported | ODBC_CODE | SQL_SERVER_CODE 0 using type uniqueidentifier"
In my database i have a table with column `pruebauuid uniqueidentifier` and in my schema used type :binary_id or :uuid or Ecto.UUID but always have same problem

### Expected Behavior
Hi
I have a problem to use type uniqueidentifier.
In my database i have a table with column `pruebauuid uniqueidentifier` and in my schema used type `:binary_id` or `:uuid` or `Ecto.UUID` but always have same problem

[2018-01-17 08:46] shdblowers commented on #32
Hi @ruben44bac, thanks for taking the time to open an issue.

This issue is a duplicate of #20.

Please refer there for more information.

[2018-01-17 08:46] #32 closed, assigned to nobody

[2018-01-29 22:02] cpursley opened #33 "Difficulty setting up"
This looks like a very useful project; thanks for making it. But I'm having a difficult time setting it up. I'd love to see a simple reference Elixir application using this library that I could clone. Or as an alternative, expand the README to include how to use mssql_ecto along with a repo and simple schema.

[2018-01-30 17:19] ndarilek commented on #25
Any updates on this? Just hit this one myself. Should I just downgrade Ecto, or is there more to it?

Thanks!

[2018-01-30 20:00] shdblowers commented on #25
Ran into some snags and haven't revisited since September, current workaround is to indeed downgrade to Ecto 2.1

[2018-01-30 22:06] cpursley commented on #33
I've set up an example repo that takes the [Friends](https://github.com/elixir-ecto/ecto/tree/master/examples/friends) ecto example and have dockerized it. The [master branch](https://github.com/cpursley/ecto_friends) is working with Postgres.

I've attempted to get a [mssql branch](https://github.com/cpursley/ecto_friends/tree/c/mssql) going, but no luck so far. I've used the Dockerfile from [mss

[2018-01-30 22:45] shdblowers commented on #33
Have you gone through the [Installation steps](https://github.com/findmypast-oss/mssql_ecto#installation), installing the Erlang ODBC application and the ODBC driver?

Edit: Oh wait sorry, you're doing it with docker...

[2018-01-30 22:52] cpursley commented on #33
Hi @shdblowers ~ [yes](https://github.com/cpursley/ecto_friends/blob/c/mssql/Dockerfile#L15), still seeing the same error. For what it's worth, msodbcsql v17.0.1.1-1 is getting installed by Docker.

[2018-01-30 22:54] shdblowers commented on #33
OK, looks like you've specified to use ODBC Driver 13.1 in your config, can you double-check which ODBC driver version you have installed?

It might work if you change this value to `"{ODBC Driver 13 for SQL Server}"`

[2018-01-30 22:56] shdblowers commented on #33
I like your idea of having a simple application that mssql_ecto as a reference.

If you'd like we can update the README to link to your project once everything is working correctly?

[2018-01-31 00:11] cpursley commented on #33
Awesome, I got it working by changing `odbc_driver` to _"{ODBC Driver 17 for SQL Server}"_.  ODBC Driver 17 is what the MS script installs as of today; I couldn't find an elegant way to set the msodbcsql version number.

Sure, I've renamed and improved the README a bit:
https://github.com/cpursley/mssql_ecto_friends

[2018-01-31 00:11] #33 closed, assigned to nobody

[2018-01-31 09:24] shdblowers commented on #33
This same bug also affects the tests for this project, didn't realise because the tests haven't been run since MS updated the driver to 17.

[2018-01-31 09:24] shdblowers commented on #33
Also I have linked your project in the README

[2018-01-31 14:20] cpursley commented on #33
I figured as much (regarding tests). Cheers.

[2018-02-01 22:06] nobaux commented on #25
Hope so we get 2.2 coz https://github.com/elixir-ecto/ecto/issues/1923

[2018-02-02 00:16] josevalim commented on #25
If somebody is working on it and has any issue, please let me know, I will be glad to help in any way.

[2018-02-02 10:33] shdblowers commented on #25
Thanks for your offer of help @josevalim, I will have another crack at doing the upgrade in the coming weekends, will let you know if I get stuck.

[2018-02-13 19:25] shdblowers commented on #25
upgrade to ecto 2.2 complete, released as version 1.1

[2018-02-13 19:25] #25 closed, assigned to shdblowers

[2018-02-26 22:46] cpursley opened #35 "Can't open lib"
`[unixODBC][Driver Manager]Can't open lib '/opt/microsoft/msodbcsql/lib64/libmsodbcsql-13.1.so.9.2'`

## Expected Behavior
This worked before. Expected to fire right up.

## Current Behavior
Example fails when running `docker-compose mix setup`

## Possible Solution
Not sure, I've fiddled a bunch with the Elixir Dockerfile (tried setting msodbcsql, mssql-tools and unixodbc-dev versions).

Perhaps

[2018-02-28 09:50] shdblowers commented on #35
Microsoft have switched back to shipping version 17, maybe give that a go? Add this as docker compose environment variable
`- MSSQL_DVR={ODBC Driver 17 for SQL Server}`.

[2018-04-14 10:51] allenwyma opened #36 "Concurrent DB Tests Failing"
Cannot run tests after swapping postgres to MS SQL.

## Expected Behavior
Tests should run without issue.

## Current Behavior
Tests are failing, saying:
[code]

## Possible Solution
Do not check out DB connection.

## Steps to Reproduce (for bugs)
1. Clone https://github.com/HangingClowns/mssql_ecto_issue
2. Run docker-compose up to turn on MSSql DB
3. Run `mix test` from sample project:

## Cont

[2018-04-18 17:45] #35 closed, assigned to nobody

[2018-04-20 11:27] pasibonfire opened #38 "Alter table remove column migration removes primary key"
## Expected Behavior
Removing a column should remove only the column.
If the removed column _is_ primary key, only then the constraint should be deleted.

## Current Behavior
Migration that removes a column (or rollback for add column) removes the primary key constraint from the table.

## Possible Solution
Adding `primary_key: false` doesn't remove the constraint. If this is expected behaviour, t

[2018-05-02 20:19] cpursley opened #39 "Associations do not work with non-standard primary keys"
When using non-standard primary keys in a legacy database schema, mssql_ecto associations are building out incompatible foreign keys.

An example primary key _source_ in the database is `UserID` while the ecto alias of that is `user_id`. Mssql creates a foreign key like `user_id_id`.

[2018-05-06 13:28] cpursley commented on #39
`has_many` works, but it only returns one result.

[2018-05-07 09:45] jbachhardie commented on #39
I'll try to take a look at this but I don't have much time at the moment so any help would be appreciated.

[2018-05-24 17:43] cpursley commented on #39
Turns out the bug was in my head, not the code ;)

Closing.

[2018-05-24 17:43] #39 closed, assigned to nobody

[2018-06-01 23:10] arcusfelis commented on #2
The odbc application bug was fixed in a fork https://github.com/arcusfelis/eodbc
odbc module became eodbc, and application name was also changed.

So, you can try to run with it.
From minuses: eodbc requires unixodbc to compile C code part.
While odbc is shipped with Erlang/OTP already compiled.

[2018-06-02 10:19] jbachhardie commented on #2
Nice work! We'll upgrade and hopefully the unixodbc dependency isn't too much trouble for people.

[2018-06-12 12:40] iDarshn commented on #27
I am facing the same issue. Do you guys have any update on it?

[2018-07-10 03:07] harri88 commented on #27
any update for this issue?

[2018-07-10 08:45] jbachhardie commented on #27
I've just come back from a month's holiday and things are a bit less hectic now than they were for the first half of the year so I'm going to try to dedicate at least a few hours a week to updating this library. I'll prioritise merging PRs, since my personal Elixir skills are rather rusty at this point, but if nobody else is picking this issue up I'll get to it.

[2018-07-13 15:47] cpursley commented on #27
I just ran into this issue as well. I'd be glad to try my hand at patching this if someone could provide some pointers on where to start in this codebase.

This seems related:

- https://stackoverflow.com/questions/13198476/cannot-use-update-with-output-clause-when-a-trigger-is-on-the-table
- https://github.com/aspnet/EntityFrameworkCore/issues/1441

[2018-07-13 17:13] cpursley commented on #27
It looks like making _inserted_ an optional parameter is one possible solution: https://github.com/findmypast-oss/mssql_ecto/blob/master/lib/mssql_ecto/query.ex#L107

Unfortunately, we won't be able to get the inserted data back with this approach.

[2018-07-16 15:11] cpursley commented on #27
Another alternative might be to check if a trigger exists on a table and dynamically add/remove the _inserted_ bit: https://wateroxconsulting.com/archives/find-triggers-sql-server-database/

But perhaps this would add too much overhead?

[2018-07-17 08:25] jbachhardie commented on #27
Does setting `returning: false` on the `insert/2` call allow the query to complete? I think that might be the best we can do, allow the user to turn off `OUTPUT`. I don't want to have every DML statement have to make an extra query to figure out if there are triggers and I don't think we can get the ODBC adapter we depend on to do the multiline statement necessary to output into a temp table and t

[2018-07-17 14:53] cpursley commented on #27
I think you're right (allow the user to turn off `OUTPUT`).

Setting `returning: false` didn't work for me. Where is `insert/2` defined? All I'm seeing is this def:  https://github.com/findmypast-oss/mssql_ecto/blob/master/lib/mssql_ecto/query.ex#L98

[2018-07-17 16:35] jbachhardie commented on #27
I meant `Ecto.Repo.insert/2` which is how the end-user interacts with the adapter. I also think I got it wrong and "return nothing" is expressed as `returning: []` rather than `false`, which I believe gets translated into the `returning` argument being `[]` in `query.ex` which looking at the code *should* remove the `OUTPUT` clause.

[2018-09-18 21:14] cpursley commented on #2
Has this been considered as a possible solution?

http://erlang-odbc-tips.colefichter.ca/

See "Support for NVARCHAR(MAX)" section.

[2018-09-19 09:22] arcusfelis commented on #2
it uses standard odbc application, which has that length bug.

On Tue, 18 Sep 2018 at 22:14, Cháse Pursłey <notifications@github.com>
wrote:

--
С уважением,
Уваров Михаил.
Best regards,
Uvarov Michael

[2018-09-19 13:10] cpursley commented on #2
Thanks @arcusfelis

How would I go about installing and using your eodbc fork (debian system)?

And I assume I'd have to fork mssql_ecto to use eodbc instead of erlang-odbc?

[2018-09-20 21:59] arcusfelis commented on #2
- You would need to install unixodbc build deps (basically, what you need to install to build Erlang with odbc).

- Add eodbc as a dep into rebar.config.

- Use eodbc module instead of odbc.

[2018-09-24 21:27] cpursley commented on #2
Thanks @arcusfelis

I'm still not clear how I could get [eodbc](https://github.com/arcusfelis/eodbc) up and running with mssql_ecto / mssqlex.

I've forked [mssqlex](https://github.com/cpursley/mssqlex/commits/c/eodbc) and replaced `:odbc` with `:eodbc` where (I beleive) appropriate.

Additionally, I'm installing eodbc in my Pheonix app as follows:

[code]

Any other suggestions?

[2018-09-27 18:15] cpursley commented on #2
Ok, I was able to get `eodbc` loaded by installing it via mix and swapping "odbc" for "eodbc" where appropriate in the mssqlex library. That approach works and it's pretty handy that you can install erlang rebar libraries easily via hex.

However, there are some esoteric errors coming up when running queries where the column type is either varchar(max) or nvarchar(max).

In iex:

`{:ok, conn} = Ms

[2018-09-28 11:17] arcusfelis commented on #2
Hmm, I haven't tested the library with binary_strings option off.
Generally, you really want to use binaries everywhere for Garbage Collector
efficiency.

In MongooseIM we use these connection options:

eodbc:connect(Settings, [{scrollable_cursors, off},{binary_strings,
on},{return_types, on}])
https://github.com/esl/MongooseIM/blob/295181f7e9fc5c42b58fdb212ee12be8237cf447/src/rdbms/mongoose_rdbms

[2018-11-15 19:52] dimun commented on #36
check out this issue [https://github.com/elixir-ecto/db_connection/issues/127](https://github.com/elixir-ecto/db_connection/issues/127), according to this you must update your OTP version to 21.0.2

[2018-12-12 03:44] churchie317 opened #42 "Preloading associations with differing schemas fails"
## Expected Behavior

Prefixing one table with a `schema_prefix` should not affect any of its associated schemas.

## Current Behavior

When prefixing a table with a non-default schema name, its associations inherit that `schema_prefix`.

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* MssqlEcto version: 1
* Ecto version: 3
* Elixir version:

[2018-12-27 05:13] collegeimprovements opened #43 "Ecto-3 support."
Are there any plans for Ecto-3 support ?

[2019-01-03 10:54] jbachhardie commented on #43
We don't do a lot of Elixir development around here anymore so this will definitely go quicker if someone from the community steps up and makes a PR but I'll make a note now to try to get around to it if nobody does.

[2019-01-08 06:12] collegeimprovements commented on #43
Thanks a lot.

[2019-06-30 11:30] whossname commented on #43
I took a few months off from this but as of this weekend it is my main project outside of work. I found that migrating this repository to Ecto 3 was a bit difficult, so instead I have created a new repo.

My strategy has been to copy the PostgreSQL adaptor into the new repository. After that I copied the unit tests from this repository into the new one. I am now in the process of getting all of th

[2019-07-14 10:19] whossname commented on #43
A quick progress report.

I had a bit of a break through this weekend. Finally got the integration tests running. Not passing, but running. Most of these tests are still failing, but getting the integration tests to run is what I got stuck on back in January/February.

I'm actually a bit confused on how they were working on Ecto 2 because the fix was for a mssql feature, not an Ecto feature. As fa

[2019-07-26 01:48] rafikiadmin commented on #43
Thank you for working on this! I would be willing to help. I will pull down a copy and see if I can at least understand a bit. I have not looked at any Ecto code before, but I would really like to use Ecto with SQL Server AND LiveView, and it seems that 3 support is essential to make it all work together, so I am willing to learn to help.

[2019-07-26 02:00] whossname commented on #43
@rafikiadmin I'm not sure if LiveView changes things, but the Ecto-2 adaptor is definitely usable. Let me know if you need more detailed instructions on how to set it up.

I think I am getting close to getting the Ecto-3 version to work, but even when it does work I'm expecting it to have some fairly significant bugs (mostly around data types).

Anyway this is a pretty big project, so it would be

[2019-07-26 02:27] rafikiadmin commented on #43
It is very possible that I am misunderstanding something and it has been almost a month since I tried, but it seemed that I could not make version 2 and LiveView work simultaneously. Version 3 of Postgres works just fine, so I thought the conflict was the Ecto version. When I have time this weekend I will try again and let you know the conflict. Maybe you will have insights. Thanks.

[2019-07-26 02:38] whossname commented on #43
Pay really close attention to your dependencies. Ecto 2 and 3 use different versions of `db_connection`. Also `ecto_sql` was split out of `ecto`, so don't use `ecto_sql` for Ecto 2. I'm pretty sure they use different versions of `decimal` as well. Make sure to run `mix clean -all` to make sure you are using the correct dependency versions.

[2019-07-28 06:42] whossname commented on #43
It's been a while so I will give another progress report.

I've been solving a bunch of smaller bugs over the last two weeks and I am happy that the new Ecto 3 adaptor works for simple SQL queries. There are a large number of remaining bugs, but the biggest one is related to using the sandbox. I plan on tackling that next week. Once this issue is resolved I expect to have a much clearer understand

[2019-07-29 10:14] jbachhardie commented on #43
This sounds like a case for releasing a `v2.0.0-beta.1`. Hex does support the prerelease section of semver, right?

Also, are you planning on keeping `mssql_ecto_3` as a separate package? It would probably be nice to keep the `mssql_ecto` name for the convenience of people using it. I might be able to give you ownership of the name if that's necessary (I'll need to have a chat with the other autho

[2019-07-30 01:27] whossname commented on #43
You are right, [pre-releases are supported](https://hexdocs.pm/elixir/Version.html).

I was planning on keeping `mssql_ecto_3` as a separate package, but your argument for keeping the existing name makes sense. My main concern with that is merging the two repositories. Git only supports this if one repository has been forked from the other, so instead I would have to copy-past the new version into

[2019-07-30 14:11] jbachhardie commented on #43
I don't mind having a commit that just rewrites the repo. It will just correctly reflect the discontinuous nature of the development on this.

[2019-07-30 14:36] whossname commented on #43
Ok, cool. I'll do this on the weekend.

[2019-08-04 07:47] whossname commented on #43
this pull request https://github.com/findmypast-oss/mssql_ecto/pull/44

[2019-08-17 05:12] whossname commented on #43
I'm going to take a break from this. Just for a week or two. This is a summary of the main problems that I am aware of at the moment:

- integers stored as strings
- decimals returned as integers (possibly after being stored as strings)
- An error triggered by TSQL's ambiguous "ORDER BY" clause
- Several migration errors. We can just say migrations are not supported for these.
- A race condition t

[2019-12-20 08:55] collegeimprovements commented on #43
Hi Guys, Any update on this?

[2019-12-20 10:16] whossname commented on #43
It's ready for a beta release with a bunch of known problems and I expect there to be more problems I don't know about yet. I haven't worked on it in the last few months

[2019-12-24 11:44] jbachhardie commented on #43
Thanks for the reminder, just released `2.0.0-beta.0` from #44 for people to use/test

I haven't really tested it since we have no applications running this anymore so at your own risk.

[2020-02-18 12:44] apurvaraut commented on #27
In the db you can delete the trigger which is not in use. can solve this issue. I did delete the trigger from the table . and it worked fine.

[2020-03-26 19:18] noizu commented on #20
@cdesch It's easy enough to patch the odbc to handle guid types (https://github.com/noizu/otp) by basically treating them as another char type column. For example with the above quick and dirty fork I can work with MSSQL if changing binary_id columns to :string or modifying the ecto.uuid.load method to accept the sql_guid string in addition to raw binary input format.

I need this functionality as